/* ================================================= */

/* Custom properties */
/* ================================================= */

:root {
    --body-font: 'Figtree', sans-serif;

    --p-shade-80:  #050b12;
    --p-shade-50:  #0e1b2d;
    --p-shade-30:  #13263e;
    --p-shade-20:  #162b47;
    --primary: #1b3659;
    --p-tint-40: #76869b;
    --p-tint-90: #e8ebee;
    --secondary:  #efa00b;
    --tertiary: #03b5aa;

    --global-border-radius: 4px;
    --global-transition: all .2s ease-in-out;
}

/*
=================================================

General styles
================================================
*/

html {
    font-size: 16px;
}

body {
    font-family: var(--body-font);
    background-color: var(--primary);
    color: var(--p-tint-90);
}

figure {
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
    height: auto;
}

.container {
    padding: 4rem 2rem;
}

/* =======================================

   TYPOGRAPHY =
   ======================================
*/

p {
    margin: 0 0 1.5rem;
}

h1 {
    font-size: 2.375rem;
    line-height: 1.25;
    margin: 0 0 2rem;
}

h2 {
    font-size: 1.75rem;
    line-height: 1.15;
    margin: 0 0 .5rem;
}

h3 {
    font-size: 1rem;
    line-height: 1.25;
    margin: 0;
}

small,
.form-msg,
.city__country {
    font-size: .75rem;
    line-height: 1.5;
}

a {
    color: var(--secondary);
    text-decoration: none;
    transition: var(--global-transition);
}

a:hover {
    color: var(--p-tint-90);
}

/* =========================== 

    forms
   =======================
*/

form {
    width: 100%;
    margin-bottom: 2rem;
    max-width: 30rem;
}

label {
    margin-bottom: .5rem;
    display: block;
}

input {
    border-radius: var(--global-border-radius);
    border: 0;
}

input[type="text"] {
    height: 2.75rem;
    background: var(--p-shade-30) url('img/search.svg') .75rem center no-repeat;
    color: var(--p-tint-90);
    padding-left: 2.25rem;
    outline: none;
    flex-grow: 1;
    transition: var(--global-transition);
}

input:focus,
input:hover {
    background-color: var(--p-shade-50);
}

input::placeholder {

    color: var(--p-tint-40);
}

.form-row {
    display: flex;
    gap: .5rem;
}

form button {
    height: 2.75rem;
    width: 2.75rem;
    background-color: var(--secondary);
    border: none;
    border-radius: var(--global-border-radius);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

form button:hover {
    background-color: var(--p-shade-80);
}

form button:active {
    background-color: var(--p-shade-50);
}

.form-msg {
    background-color: var(--p-shade-50);
    padding: .5rem 1rem;
    border-radius: 0 0 var(--global-border-radius) var(--global-border-radius);
    margin-bottom: .75rem;
    width: 75%;
}